/* Your CSS styling */
  .post-list {
     list-style-type: none;
     padding: 0;
   }

   .other-user-post-list{
    list-style-type: none;
    padding: 20px;
   }
   
   .post  {
     border: 3px solid #111010;
     margin-bottom: 16px;
     padding: 16px;
     border-radius: 5px;
     background-color: #333;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     background-color: rgba(255, 255, 255, 0.1);
     position: relative;
    }

    #openPostButton{
      width: 150px;
      float: right;
      padding: 10px;
      background-color: #222;
      color: #f9f9f9;
      margin: -5px;
    }

    #openPostButton:hover{
      background-color:#990000;
      transition-duration: 500ms;
    }
   
   .post-title {
     font-size: 1.5rem;
     margin-bottom: 8px;
     color: #ff4500;
   }
   
   .post-content {
     font-size: 1.2rem;
     margin-bottom: 8px;
     color: #ddd;
   }
   
   .post-author {
     font-size: 1rem;
     color: #888;
   }
   ul{
     list-style-type: none;
   }
   ul li p{
     text-align: center;
   }


   .comment-list {
    list-style-type: none;
    padding: 0;
  }
  
  .comment {
    border: 1px solid #ddd;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: darkgrey;
  }
  
  .comment-content {
    font-size: 1rem;
    margin-bottom: 4px;
    color: #333; /* Updated color */
    text-align: left;
    padding:8px;
  }

  .comment-author {
    font-size: 0.8rem;
    color: #222;
    text-align: left;
    padding-left: 10px;
  }
  
  .comment-form {
    margin-top: 16px;
  }
  
  .comment-form textarea {
    width: 98%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #555;
    background-color: #222;
    color: #ddd;
  }
  
  .comment-form button {
    padding: 6px;
    font-size: 0.9rem;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .comment-form button + button {
    margin-left: 10px;
  }
  
  .comment-form button:hover {
    background-color: #0056b3;
  }

   a{
    color: red;
    float: right;
   }

   a:hover{
    color: #ff4500;
   }
   
   .lock-toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 0.9rem;
    background-color: red; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 130px;
    
  }
  
  .lock-toggle-button:hover {
    background-color: rgb(102, 13, 13); 
    transition-duration: 500ms;
  }
  .button-delete-post{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 0.9rem;
    background-color: red; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    cursor: 'pointer' 
  }
  .button-delete-post:hover {
    background-color: rgb(102, 13, 13); 
    transition-duration: 500ms;
  }
 