/* Dark Theme for Registration Page */

.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 8px;
    background-color: #333; /* Dark background color */
    color: #ddd; /* Light gray text color for better visibility */
    margin-top: 40px;
  }
  
  .registration-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 4px;
    background-color: #222; /* Darker background color for input elements */
    color: #ddd; /* Light gray text color for input elements */
  }

  .button-container {
   width: 75%;
   display: flex;
   gap: 40px;
   justify-content: center; /* Center buttons horizontally */
 }
  
  #btn-reg,
  #btn-cancel {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #btn-reg:hover, #btn-cancel:hover {
   background-color: #0056b3;
 }
  
  #naslov {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 30px;
  }
  
  h2 {
    text-align: center;
  }
  